#### Climate research and weather analysis
To find out weather patterns and correlation between melting glaciers and rising temperatures between 1990 and 2022
<br><br> 
- Explore weather data from 5 cities in each hemisphere:
  - Northern Hemisphere
    - New York
    - Munich
    - Istanbul
    - Dubai
    - Tokyo
  - Equator
    - Bogotá
    - Brasília
    - Nairobi
    - Malé
    - Jakarta
  - Southern Hemisphere
    - Maputo
    - Antananarivo
    - Cape Town
    - Sydney
    - Auckland
- Analyze yearly and monthly avg, min, max temps and rainfall.
- Analyze melting glacier rate in north pole (Arctic) and south pole (Antarctica)
- Analyze CO2 levels and vegetation degradtion impact
- Analyze human/animal fatalities by environmental causes

<br> Disclaimer: The research is on-going and will be updated periodically

In [1]:
#importing libraries
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Stations, Normals

In [20]:
# Set time period
start = datetime(1990, 1, 1)
end = datetime(2022, 12, 31)

##The points are latitude and longitude, the MeteoStat API automatically uses Nearest Neighbour to fetch data from closest weather station to the lat & lon points provided

#Northern Hemisphere
#New York
new_york_location = Point(40.712776, -74.005974)
#Munich
munich_location = Point(48.135124, 11.581981)
#Istanbul
istanbul_location = Point(41.008240, 28.978359)
#Dubai
dubai_location = Point(25.276987, 55.296249)
#Tokyo
tokyo_location = Point(35.652832, 139.839478)

#Equator
#Bogotá
bogota_location = Point(4.624335, -74.063644)
#Rio de Janeiro
rio_de_janeiro_location = Point(-22.970722, -43.182365)
#Nairobi
nairobi_location = Point(-1.362863, 36.834583)
#Malé
male_location = Point(1.924992, 73.399658)
#Jakarta
jakarta_location = Point(-6.121435, 106.774124)

#Southern Hemisphere
#Maputo
maputo_location = Point(-25.953724, 32.588711)
#Antananarivo
antananarivo_location = Point(-18.879190, 47.507905)
#Cape Town
cape_town_location = Point(-34.254570, 18.406263)
#Sydney
sydney_location = Point(-33.870453, 151.208755)
#Auckland
auckland_location = Point(-36.850109, 174.767700)

In [21]:
# Get nearby weather stations using the points
stations = Stations()
stations = stations.nearby(40.712776, -74.005974)
station = stations.fetch(1)

# Print DataFrame
print(station)

                         name country region   wmo  icao  latitude  longitude  \
id
KJRB0  New York / Wall Street      US     NY  <NA>  KJRB   40.7012    -74.009

       elevation          timezone hourly_start hourly_end daily_start  \
id
KJRB0        2.0  America/New_York   2016-07-20 2023-06-16  2016-07-21

       daily_end monthly_start monthly_end     distance
id
KJRB0 2022-04-24    2019-01-01  2021-01-01  1312.220903

In [22]:
#Northern Hemisphere
new_york_data = Daily(new_york_location, start, end)
new_york_data = new_york_data.fetch()
df_new_york = pd.DataFrame(new_york_data)
ny_location = 'New York'
df_new_york['location'] = ny_location

munich_data = Daily(munich_location, start, end)
munich_data = munich_data.fetch()
df_munich = pd.DataFrame(munich_data)
mu_location = 'Munich'
df_munich['location'] = mu_location

istanbul_data = Daily(istanbul_location, start, end)
istanbul_data = istanbul_data.fetch()
df_istanbul = pd.DataFrame(istanbul_data)
ist_location = 'Istanbul'
df_istanbul['location'] = ist_location

dubai_data = Daily(dubai_location, start, end)
dubai_data = dubai_data.fetch()
df_dubai = pd.DataFrame(dubai_data)
dub_location = 'Dubai'
df_dubai['location'] = dub_location

tokyo_data = Daily(tokyo_location, start, end)
tokyo_data = tokyo_data.fetch()
df_tokyo = pd.DataFrame(tokyo_data)
tok_location = 'Tokyo'
df_tokyo['location'] = tok_location

#Equator
bogota_data = Daily(bogota_location, start, end)
bogota_data = bogota_data.fetch()
df_bogota = pd.DataFrame(bogota_data)
bog_location = 'Bogota'
df_bogota['location'] = bog_location

rio_data = Daily(rio_de_janeiro_location, start, end)
rio_data = rio_data.fetch()
df_rio = pd.DataFrame(rio_data)
rio_location = 'Rio De Janeiro'
df_rio['location'] = rio_location

nairobi_data = Daily(nairobi_location, start, end)
nairobi_data = nairobi_data.fetch()
df_nairobi = pd.DataFrame(nairobi_data)
nai_location = 'Nairobi'
df_nairobi['location'] = nai_location

male_data = Daily(male_location, start, end)
male_data = male_data.fetch()
df_male = pd.DataFrame(male_data)
male_location = 'Male'
df_male['location'] = male_location

jakarta_data = Daily(jakarta_location, start, end)
jakarta_data = jakarta_data.fetch()
df_jakarta = pd.DataFrame(jakarta_data)
jak_location = 'Jakarata'
df_jakarta['location'] = jak_location

#Southern Hemisphere
maputo_data = Daily(maputo_location, start, end)
maputo_data = maputo_data.fetch()
df_maputo = pd.DataFrame(maputo_data)
mapu_location = 'Maputo'
df_maputo['location'] = mapu_location

ant_data = Daily(antananarivo_location, start, end)
ant_data = ant_data.fetch()
df_ant = pd.DataFrame(ant_data)
ant_location = 'Antananarivo'
df_ant['location'] = ant_location

cape_data = Daily(cape_town_location, start, end)
cape_data = cape_data.fetch()
df_cape = pd.DataFrame(cape_data)
cape_location = 'Cape Town'
df_cape['location'] = cape_location

sydney_data = Daily(sydney_location, start, end)
sydney_data = sydney_data.fetch()
df_sydney = pd.DataFrame(sydney_data)
syd_location = 'Sydney'
df_sydney['location'] = syd_location

auckland_data = Daily(auckland_location, start, end)
auckland_data = auckland_data.fetch()
df_auckland = pd.DataFrame(auckland_data)
auck_location = 'Auckland'
df_auckland['location'] = auck_location

In [23]:
##Add hemisphere field where loc is ....
dframes_uncon = [df_new_york, df_munich, df_istanbul, df_dubai, df_tokyo,
                 ##
                 df_bogota, df_rio, df_nairobi, df_male, df_jakarta,
                 ##
                 df_maputo, df_ant, df_cape, df_sydney, df_auckland]
dframes = pd.concat(dframes_uncon)

In [24]:
dframes.head()

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,location
time,,,,,,,,,,,
1990-01-01,4.3,0.0,7.8,3.6,0.0,271.0,27.0,79.6,1006.8,NaN,New York
1990-01-02,1.6,-2.8,6.1,0.0,0.0,254.0,18.7,46.4,1025.9,NaN,New York
1990-01-03,3.9,-1.7,10.0,0.0,0.0,NaN,11.2,24.1,1026.0,NaN,New York
1990-01-04,4.9,0.6,10.6,0.0,0.0,215.0,14.4,33.5,1016.8,NaN,New York
1990-01-05,6.2,2.2,9.4,0.0,0.0,NaN,15.8,46.4,1018.9,NaN,New York

In [25]:
city = dframes['location'].unique()

In [26]:
city

array(['New York', 'Munich', 'Istanbul', 'Dubai', 'Tokyo', 'Bogota',
       'Rio De Janeiro', 'Nairobi', 'Male', 'Jakarata', 'Maputo',
       'Antananarivo', 'Cape Town', 'Sydney', 'Auckland'], dtype=object)